name: Run CI

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9","3.10","3.11","3.12"]
        django: ['3.2', '4.2']
        cms: ['3.11','4.1']

    name: Run the test suite (Python ${{ matrix.python }}, Django ${{ matrix.django }}, CMS ${{ matrix.mozilla_django_oidc }})

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install tox tox-gh-actions

      - name: Run tests
        run: tox
        env:
          PYTHON_VERSION: ${{ matrix.python }}
          DJANGO: ${{ matrix.django }}
          CMS: ${{ matrix.cms }}
